{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>
        </div>

        <div class="row">
            <h2 class="text-center col-12 my-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate doloribus ducimus excepturi iure iusto laboriosam, maiores pariatur perspiciatis praesentium quidem tempora? Consequuntur corporis obcaecati omnis perferendis quisquam, quo vel?</h2>
            <p class="col-12 col-md-10 offset-md-1 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab architecto consectetur cumque delectus dolore doloremque dolores ea fugit harum ipsa ipsam iure minus nostrum numquam, odit officiis quae quaerat quia, reiciendis repudiandae veritatis, voluptatem? Accusantium ad adipisci alias assumenda atque aut corporis culpa deserunt eaque enim eos et eveniet facilis fugit harum illo ipsam ipsum laboriosam molestiae nemo nobis non odio officia pariatur quae quidem quis quisquam quod repellat repudiandae similique soluta tenetur ullam ut velit, vero voluptas. Aut dicta ipsa officiis sed tempore voluptatem! Eveniet ex, magni mollitia nostrum odit quae quam quo repellendus, sequi sit sunt voluptas!</p>
        </div>

        {# Affichage de l'image fixe en bandeau #}
        <div class="batman-cover row my-5"></div>

    </div>

{% endblock %}
